<div class="container custom-container" (click)='setLocation("gj")'>
  <div class="jumbotron custom-container">
    <h1><img src="./assets/images/reservedcar.png" alt="reserved" class="reserved"> Gulistan-Johar <img src="./assets/images/reservedcar.png"
        alt="reserved" class="reserved"></h1>
  </div>
</div>
<br><br>
<div class="container custom-container" (click)='setLocation("pp")'>
  <div class="jumbotron custom-container">
    <h1> <img src="./assets/images/reservedcar.png" alt="reserved" class="reserved"> Parking Plaza <img src="./assets/images/reservedcar.png"
        alt="reserved" class="reserved"></h1>
  </div>
</div>
<br><br>
<div class="container custom-container" (click)='setLocation("km")'>
  <div class="jumbotron custom-container">
    <h1> <img src="./assets/images/reservedcar.png" alt="reserved" class="reserved"> Khadda Market <img src="./assets/images/reservedcar.png"
        alt="reserved" class="reserved"></h1>
  </div>
</div>