<nav class="navbar navbar-inverse success-background">
  <div class="container-fluid">
    <div class="navbar-header">
      <a  [routerLink]="['home']"  class="navbar-brand brand-link" #home>Auto Parking</a>
    </div>
    <ul class="nav navbar-nav" *ngIf='dataService.currentNavBar == "userAuth"'>
      <!--<li><a [routerLink]="['viewparking']" class="success-link" #viewparking (click)='setActiveRoute(viewparking,bookparking,viewbooking,feedback)'>View Parking</a></li>-->
      <li><a [routerLink]="['bookparking']" class="success-link" #bookparking (click)='setActiveRoute(bookparking, viewparking,viewbooking,feedback)'>Book Parking</a></li>
      <li><a [routerLink]="['viewbooking']" class="success-link" #viewbooking (click)='setActiveRoute( viewbooking,viewparking,bookparking,feedback)'>View Booking</a></li>
      <li><a [routerLink]="['feedback']" class="success-link" #feedback (click)='setActiveRoute(feedback,viewparking,bookparking,viewbooking)'>Feedback</a></li>
    </ul>
    <ul class="nav navbar-nav" *ngIf='dataService.currentNavBar == "adminAuth"'>
      <li><a [routerLink]="['viewbookingadmin']" class="success-link" #viewbookingadmin (click)='setActiveRoute(viewbookingadmin, viewuser, viewfeedbackadmin)'>View Booking</a></li>
      <li><a [routerLink]="['viewuseradmin']" class="success-link" #viewuser (click)='setActiveRoute(viewuser, viewbookingadmin, viewfeedbackadmin)'>View Users</a></li>
      <li><a [routerLink]="['viewfeedbackadmin']" class="success-link" #viewfeedbackadmin (click)='setActiveRoute(viewfeedbackadmin, viewuser, viewbookingadmin)'>View Feedback</a></li>
    </ul>
    <ul class="nav navbar-nav">
      <!--<li><a [routerLink]="['home']" class="success-link">Home</a></li>-->
      <!--<li><a [routerLink]="['about']" class="success-link">About</a></li>-->
      <!--<li><a href="#">Page 2</a></li>-->
    </ul>
    <ul class="nav navbar-nav navbar-right" *ngIf='dataService.currentNavBar == "noAuth"'>
      <li><a [routerLink]="['signup']" class="success-link" #signup (click)='setActive(signup, signin)'><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a [routerLink]="['signin']" class="success-link" #signin (click)='setActive(signin, signup)'><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right" *ngIf='dataService.currentNavBar == "adminAuth" || dataService.currentNavBar == "userAuth"'>
      <li><a [routerLink]="['home']" class="success-link" #signup (click)='logout()'><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>
  </div>
</nav>