.success-background{
    background-color: #f0ad4e;
 border-color: #eea236;
    color: #ffffff;
}

.success-link{
    color:#ffffff !important;
}

.success-link:hover{
     color:#9d9d9d !important;
}